<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Habitat</title>
    <!-- Bootstrap CSS CDN -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <%- include('header') %>
    <div class="container mt-5">
      <h1>Edit Habitat</h1>
      <form action="/habitat/update/<%= habitat.id %>" method="POST">
        <div class="form-group">
          <label for="nama_habitat">Nama Habitat</label>
          <input
            type="text"
            class="form-control"
            name="nama_habitat"
            id="nama_habitat"
            value="<%= habitat.nama_habitat %>"
            required
          />
        </div>
        <button class="btn btn-success" type="submit">Simpan Perubahan</button>
        <a href="/habitat" class="btn btn-secondary">Batal</a>
      </form>
    </div>
    <%- include('footer') %>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
